html {
    background-color: black;
    color: white;
    text-decoration: none;
}
header div a img {
    height: 80px;
    background-color: rgb(226, 35, 67);
    
}

.home-link {
    color: white;
    font-size: 20px;
    
} 
header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 35, 67);
    width: 100%;
    flex-direction: row;
    align-items: center;

}
.home-link :hover{
    background-color: rgb(10, 14, 247);
}
.home-link li {
    display: inline-block;
    padding: 0px 20px;
    
}
.home-link a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h1-menu{
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.h2-menu{
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 120px 0px 0px 200px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.texto-menu p {
    text-align: center;
    padding: 0px 0px 0px 150px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-position: center;
    width: 30%;
}
.texto-menu {
    display: flex;
}
.img-messi{
    height: 350px;
    padding: 0px 0px 0px 350px;
}
.footer a img {
    height: 70px;
    display: inline-block;
    padding: 5px 0px 0px 400px;
    align-items: center;
}
/* historia futbolistica */
.h1-historia{
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.historia{
    display: flex;
}
.historia p{
    font-size: 20px;
    width: 30%;
    text-align: center;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.historia img{
    height: 500px;
    padding-top: 150px;
    padding-left: 100px;
}
/*mejores jugadas*/
.h1-jugadas{
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Estadisticas*/
.h1-estadisticas{
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.estadisticas-partido{
    display: flex;
    padding: 40px 0px 0px 500px;
}
.estadisticas-partido ul{
    text-align: top;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.estadisticas-partido img{
    height: 200px;
    
}  
/*opiniones*/
.mb-3 {
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.mb-5 {
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
.form-control {
    width: 200px ;
    height: 40px;
}
.footer {
    background-color: blueviolet;
    
   
}
.area-texto {
height: 200px;
}
.mb-5 label{
    align-items: center;
} 
@media (max-width : 375.2px){
    header {
        padding: fixed;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: auto;
        left: 0;
        top: 0;

    
    }
.h1-menu{
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h2-menu{
    padding: 120px 0px 0px 10px;
    text-align: center;
    font-size: 200%;
    
}

.img-messi{
    height: 400px;
    padding: 0px 0px 0px 30px;
}
.texto-menu{
    display: block;
}
.texto-menu p {
    text-align: center;
    padding: 0px 0px 0px 60px;
    font-size: 15px;
    background-position: center;
    width: 60%;
    justify-content: center;
}
.footer a img {
    height: 50px;
    display: inline-block;
    padding: 5px 0px 0px 200px;
    
} 
/*mejores jugadas*/
.videos-messi {
    display: block;
    height: 180px;
}
.h1-jugadas{
   
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 30px;
}
    
}
