
.mb-3 {
  color: rgb(241, 37, 224);
  text-align: center;
  padding: 80px 0px 0px 0px;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  display: block;
  flex-direction: column;
}
.mb-6{
  text-align: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(241, 37, 224);
  font-size: 80px;
}
.mb-5 {
  color: rgb(241, 37, 224);
  text-align: center;
  padding: 80px 0px 0px 0px;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  display: block;
  flex-direction: column;
}

.form-control {
  width: 200px;
  height: 40px;
}

.area-texto {
  height: 200px;
}

.h1-estadisticas {
  color: rgb(241, 37, 224);
  text-align: center;
  padding: 80px 0px 0px 0px;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.estadisticas-partido {
  display: flex;
  padding: 40px 0px 0px 500px;
}

.estadisticas-partido ul {
  text-align: top;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.estadisticas-partido img {
  height: 200px;
}

.h1-jugadas {
  color: rgb(241, 37, 224);
  text-align: center;
  padding: 80px 0px 0px 0px;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer a img {
  height: 70px;
  display: inline-block;
  padding: 5px 0px 0px 400px;
  align-items: center;
}

.footer {
  background-color: blueviolet;
}

header div a img {
  height: 80px;
  background-color: rgb(226, 35, 67);
}

.home-link {
  color: white;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(226, 35, 67);
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.home-link :hover {
  background-color: rgb(10, 14, 247);
}

.home-link li {
  display: inline-block;
  padding: 0px 20px;
}

.home-link a {
  color: white;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.h1-historia {
  color: rgb(241, 37, 224);
  text-align: center;
  padding: 80px 0px 0px 0px;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.historia {
  display: flex;
}

.historia p {
  font-size: 20px;
  width: 50%;
  text-align: center;
  padding-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.historia img {
  height: 400px;
  padding-top: 80px;
  padding-left: 100px;
}

html {
  color: white;
  background-color: black;
  text-decoration: none;
}

.h1-menu {
  color: rgb(241, 37, 224);
  text-align: center;
  padding: 0;
  margin: 80px 0px 0px 0px;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to left, lightblue, lightpink);
}

.h2-menu {
  color: rgb(241, 37, 224);
  margin: 120px 0px 0px 200px;
  background-image: linear-gradient(to left, lightblue, lightpink);
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 700px;
  text-align: center;
  justify-content: center;
}

.texto-menu p {
  text-align: center;
  margin: 0px 0px 30px 150px;
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-position: center;
  width: 30%;
}

.texto-menu {
  display: flex;
}

.img-messi {
  height: 350px;
  margin: 0px 0px 30px 350px;
}
@media (max-width : 375.2px){
  header {
      padding: fixed;
      width: 100%;
      flex-direction: column;
      align-items: center;
      height: auto;
      left: 0;
      top: 0;

  
  }
.h1-menu{
  text-align: center;
  margin: 80px 0px 0px 0px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h2-menu{
  margin: 120px 0px 0px 10px;
  text-align: center;
  font-size: 200%;
  
}

.img-messi{
  height: 400px;
  padding: 0;
  margin: 0px 0px 0px 30px;
  
}
.texto-menu{
  display: block;
}
.texto-menu p {
  text-align: center;
  margin: 0px 0px 0px 60px;
  font-size: 15px;
  background-position: center;
  width: 60%;
  justify-content: center;
}
.footer a img {
  height: 50px;
  display: inline-block;
  padding: 0;
  margin: 0px 0px 0px 70px;
  
  
} 
.body-index{
  flex-direction: column;
} 
/*mejores jugadas*/
.videos-messi {
  display: block;
  height: 50px;
  
}
.h1-jugadas{
 
  text-align: center;
  margin: 5px 0px 0px 0px;
  font-size: 30px;
}
  
}
@media (max-width : 375.2px){
  .h1-historia{
    text-align: center;
    
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .historia img{
    height: 220px;
    padding: 0;
    margin: 0px 0px 0px 30px;
    
  }
  .historia p {
    text-align: center;
    margin: 0px 0px 5px 60px;
    font-size: 15px;
    background-position: center;
    width: 60%;
    justify-content: center;
  }
  .historia{
    display: block;
    flex-direction: column;
  }
}
@media (max-width : 375.2px){
  .main-estadisticas{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .h1-estadisticas {
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .estadisticas-partido {
    display: block;
    padding: 0px 0px 0px 0%;
    justify-content: center;
    text-align: center;
  }
  
  .estadisticas-partido ul {
    text-align: top;
    font-size: 15px;
    justify-content: center;
    list-style: none;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .estadisticas-partido img {
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width : 375.2px){
  .form{
    flex-direction: column;
  } 
}
/*# sourceMappingURL=style.css.map */