.mb-3 {
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.mb-5 {
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
.form-control {
    width: 200px ;
    height: 40px;
}
.area-texto {
    height: 200px;
    }
    .mb-6{
        text-align: center;
        align-items: center;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(241, 37, 224);
        font-size: 80px;
      }
      @media (max-width : 375.2px){
        .form{
          flex-direction: column;
        } 
      }