.h1-jugadas{
    color: rgb(241, 37, 224);
    text-align: center;
    padding: 80px 0px 0px 0px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width : 650.2px) and (max-width : 950px){
    .h1-jugadas {
      color: rgb(241, 37, 224);
      text-align: center;
      padding: 80px 0px 0px 0px;
      font-size: 40px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }